* {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.separator {
  height: 2px;
  background: rgb(255, 255, 255);
}

.active-btn {
  background: rgba(255, 123, 0, 0.751);
  transition: all 1s;
}

/* Hover Klassen */
.add-to-basked-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.467);
}

.basked-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.467);
}

.cart-btn:hover {
  cursor: pointer;
  color: rgb(255, 81, 0);
}

.open-basked-btn:hover {
  cursor: pointer;
  background: rgba(255, 123, 0, 0.751);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.467);
}

.close-basked-btn:hover {
  cursor: pointer;
  background: rgba(255, 123, 0, 0.751);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.467);
}
/* Header Klassen */

.web-header {
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 123, 0);
}
.web-logo {
  width: 256px;
}

.open-basked-btn {
  display: none;
  border-radius: 10%;
}

/* Main Klassen */

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 128px;
  padding-bottom: 64px;
}

.rest-logo {
  height: 256px;
  width: 256px;
  border: solid 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.banner {
  width: 100%;
  height: 256px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  width: 50%;
}

.restaurant-name {
  text-align: center;
  font-size: 40px;
}

.dish {
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  justify-content: space-between;
  background-color: rgb(253, 234, 220);
  border-radius: 15px;
}

.dish-price {
  align-self: center;
  font-size: 24px;
  padding-right: 32px;
}

.dish-name {
  font-size: 24px;
  color: rgb(255, 81, 0);
}

.ingredients {
  font-size: 18px;
  padding-bottom: 16px;
}

.basked-section {
  height: 524px;
  overflow-y: scroll;
}

.basked-container {
  position: sticky;
  top: 0px;
  width: 550px;
  align-self: flex-start;
  border: solid 2px rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  margin-right: 16px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.467);
  background-color: rgba(0, 0, 0, 0.767);
  border-radius: 25px;
}

.category {
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  background-color: rgb(255, 123, 0);
}

.basked-head {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 32px;
}

.basked-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.basked-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.close-basked-btn {
  display: none;
  border-radius: 15%;
}

.basked-btn {
  border-radius: 10%;
}

.total-price {
  font-size: 24px;
}

.order-item {
  background-color: rgb(253, 234, 220);
  border-radius: 15px;
}

.order {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-name {
  text-align: center;
  font-size: 24px;
  color: rgb(255, 81, 0);
  padding-bottom: 16px;
}

.dish-amount {
  font-size: 24px;
}

.order-btn-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.cart-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  font-size: 32px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.webseite-footer-img {
  height: 276px;
  width: 100%;
  object-fit: cover;
}

.hide-menu-list {
  display: none;
}

.price-box {
  width: 300px;
  background: #3a3a3a;
  color: #fff;
  padding: 16px;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 18px;
}

/* Dialog Klassen */

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  min-height: 750px;
  max-height: 950px;
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-headline {
  text-align: center;
  font-size: 28px;
}

.dialog-order-card {
  display: flex;
  justify-content: space-between;
}

.order-dialog-content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 0, 0);
}

.logo {
  width: 128px;
}

.dialog-footer-content {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.dialog-amount-price {
  display: flex;
  justify-content: flex-end;
  gap: 64px;
}

.dialog-footer-price {
  display: flex;
  justify-content: center;
  gap: 32px;
}

/* Media Querys */

@media (max-width: 1550px) {
  .menu-list {
    width: 650px;
  }
}

@media (max-width: 1200px) {
  .open-basked-btn {
    display: block;
  }
  .close-basked-btn {
    display: block;
  }

  .hide-basked {
    display: none;
  }

  .menu-container {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .dish-name {
    font-size: 20px;
  }

  .ingredients {
    font-size: 14px;
  }

  .dish-price {
    font-size: 16px;
  }

  .web-logo {
    width: 150px;
  }
}

@media (max-width: 500px) {
  .dish {
    flex-direction: column;
    align-items: center;
  }

  .flex-row {
    justify-content: center;
    align-items: center;
  }

  .dish-name {
    text-align: center;
    font-size: 16px;
  }

  .ingredients {
    font-size: 14px;
    text-align: center;
  }

  .dish-price {
    font-size: 16px;
    text-align: center;
    padding-right: 0;
    margin: auto;
    padding-bottom: 8px;
  }
}
