* {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.separator {
  height: 2px;
  background: rgba(45, 43, 43, 0.51);
  box-shadow: 0px 1px 5px rgba(62, 58, 58, 0.479);
}

.active-btn {
  background: rgba(255, 123, 0, 0.751);
  transition: all 1s;
}

/* Hover Klassen */
.add-to-basked-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.467);
}

.basked-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.467);
}

.cart-btn:hover {
  cursor: pointer;
  color: rgb(255, 81, 0);
}

/* Header Klassen */

.web-header {
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 123, 0);
}
.web-logo {
  width: 256px;
}

.open-basked-btn {
  display: none;
  border-radius: 10%;
}

/* Main Klassen */

.banner {
  width: 100%;
  height: 128px;
  object-fit: cover;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  width: 50%;
}

.restaurant-name {
  text-align: center;
  font-size: 40px;
}

.dish {
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  justify-content: space-between;
}

.dish-price {
  align-self: center;
  font-size: 20px;
  color: rgb(255, 81, 0);
  padding-right: 32px;
}

.dish-name {
  font-size: 24px;
  color: rgb(255, 81, 0);
}

.ingredients {
  font-size: 18px;
  padding-bottom: 16px;
}

.basked-section {
  border: 2px solid rgb(0, 0, 0);
  height: 524px;
  overflow-y: scroll;
}

.basked-container {
  position: sticky;
  top: 0px;
  width: 550px;
  align-self: flex-start;
  border: solid 2px rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  margin-right: 16px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.467);
}

.category {
  font-size: 34px;
  text-align: center;
}

.basked-head {
  text-align: center;
  font-size: 32px;
}

.basked-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background: rgba(255, 123, 0, 0.751);
}

.basked-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.close-basked-btn {
  display: none;
  border-radius: 15%;
}

.basked-btn {
  border-radius: 10%;
}

.total-price {
  font-size: 24px;
}

.order {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-name {
  font-size: 24px;
  color: rgb(255, 81, 0);
}

.dish-amount {
  font-size: 20px;
}

.order-btn-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.cart-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: #eee;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.webseite-footer-img {
  height: 276px;
  width: 100%;
  object-fit: cover;
}

.hide-menu-list {
  display: none;
}
/* Dialog Klassen */

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  max-height: 750px;
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-headline {
  text-align: center;
  font-size: 28px;
}

.dialog-order-card {
  display: flex;
  justify-content: space-between;
}

.order-dialog-content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 0, 0);
}

.logo {
  width: 128px;
}

.dialog-footer-content {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.dialog-amount-price {
  display: flex;
  justify-content: flex-end;
  gap: 64px;
}

.dialog-footer-price {
  display: flex;
  justify-content: center;
  gap: 64px;
}

/* Media Querys */

@media (max-width: 1550px) {
  .menu-list {
    width: 650px;
  }
}

@media (max-width: 1050px) {
  .open-basked-btn {
    display: block;
  }
  .close-basked-btn {
    display: block;
  }

  .hide-basked {
    display: none;
  }

  .menu-container {
    justify-content: center;
  }
}

@media (max-width: 650px) {
}
